/* Complete - Javascript I - AJAX & JS Fetch APIs - Store Exercise */
#wrapper {
    display: flex;
    flex-direction: column;
}
#updateInventory {
    width: 50%;
    align-self: center;
    margin-top: 1em;
}
th {
    border: groove #a9abad 2px;
    border-top: solid black 2px;
    color: #010418;
    background-color: #83c41b!important;
    text-align: center;
}
#insertProducts {
    color: rgb(83, 148, 234);
    border: groove black 2px;
    background-color: rgba(220, 212, 171, 0.69)!important;
}
td {
    text-align: center;
    border-right: solid black 1px;
}