/* Complete - CSS II - Bootstrap Intro - Pizza Exercise */
.docrob-tron {
    background-image: url("img/pizza.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 346px;
    align-items: center;
}
div.card {
    width: 100%;
}
.SignUp {
    margin-left: 24em;
    text-decoration: none;
}
.titleBar {
    padding-top: 5em;
}
label {
    cursor: pointer;
}
.card-footer {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.searchbox {
    width: 25%;
}

/*     display: flex;
    margin-left: 20em;
    flex-wrap: nowrap;
    align-items: center;
*/