/* Incomplete - JavaScript I - DOM Add & Remove */
/* row color */
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/
#my-form {
    width: 400px;
}
.card-footer {
    background-color: transparent!important;
    align-self: center;
}
#todoForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}
