#jalopyImg {
    display: block;
    max-width: 300px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#img-button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}
nav {
    background-color: #F5F5F53A;
    width: 100%;
    height: 2em;
}
.jalopy-nav{
    text-decoration: none;
    color:black;
    text-align: center;
    margin-right: .5em;
    margin-left: .5em;
}
#main {
    padding: 0;
    background-color: #7b836c;
}
footer {
    background-color: #F5F5F53A;
}
#dogFactsPage {
    background-color: #7b836c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogCards {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: #d8e7bd;
}
.btn{
    margin: 1em;
    width: auto;
    background-color: #d8e7bd;
}
#QuotesPage {
    height: 100%;
    background-color: #7b836c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quoteCards {
    width: 70%;
    background-color: #d8e7bd;
    margin-top: .5em;
    margin-bottom: .5em;
}
.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}
.insert-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}